@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #1d1d1d;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    flex-grow: 1;
}

h1 {
    font-size: 3vh;
    margin: 0;
}

#meszaros {
    background-color: #fd8100;
    padding: 0.5vh;
    box-shadow: #000 0px 0px 10px;
    display: inline-block;
}

.balance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    font-size: 3.5vh;
}

input {
    width: 30vh;
    text-align: center;
    padding: 1vh;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 1em;
    border-bottom: #00000063 solid 3px;
    font-family: "Inconsolata", monospace;
    box-sizing: border-box;
    transition: ease-in-out 0.3s;
}

input:focus {
    outline: none;
    border-bottom: #000 solid 3px;
}

input:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

#equals {
    font-size: 2em;
}

.lolo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#lolo {
    font-size: 2em;
}

p#result {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: #fd8100;
    padding: 1vh;
    max-width: 50vw;
    word-wrap: break-word;
    word-break: break-all;
    transform: skew(-14deg);
    box-shadow: #000 0px 0px 10px;
}

footer {
    opacity: 0.5;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        display: block;
    }

    #meszaros {
        display: block;
        margin-top: 1vh;
    }

    .lolo {
        display: block;
    }

    #lolo {
        font-size: 2em;
    }
}
