@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Libre+Caslon+Text&family=Noto+Serif+JP:wght@600&family=Silkscreen&family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Montserrat';
    text-align: center;
}

ol {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 60%;
    margin: 0 auto;
    counter-reset: item;
    list-style-type: none;
}
  
li::before {
  content: "[" counter(item) "] ";
  font-family: 'Consolas';
  counter-increment: item;
}

a:visited {
    color: #fff;
}

a {
    color: #fff;
    font-weight: bold;
}

p {
    font-size: 0.8em;
}